%div{:style => "margin-left:auto;margin-right:auto;width: 1024px"} 
  %table{:id => "mytable", :class => "table table-bordered"}
    %thead
      %tr
        %th{:class => "header"} Zamień
        %th{:class => "header"} Na
    %tbody
      - @converter.exchanges.each do |exchange|
        %tr
          %td{:class => "text-center", :rowspan => "#{exchange[:to].count}"}
            %div{:class => "float", :style => "position: relative"}
              - exchange[:from][0].each_slice(2) do |slice|
                %div{:class => "row"}
                  - slice.each do |ex|
                    %a{:href => "http://www.boardgamegeek.com/geeklist/#{@converter.id}/item/#{ex[:itemid]}#item#{ex[:itemid]}"}
                      %img{:src => "http://cf.geekdo-images.com/images/pic#{ex[:imageid]}_t.jpg", :style => "vertical-align:middle; width:90px; height:90px; margin:0 auto", :class => "thumbnail"}
                      = "#{ex[:title]} (#{ex[:number]})"
                    - ex[:aliases].each do |a|
                      = "<br>#{a}"
          %td{:style => "vertical-align: middle", :class => "text-center"}
            - exchange[:to][0].each_slice(6) do |slice|
              %div{:class => "row"}
                - slice.each do |game|
                  = haml :_game, :locals => { :game => game }
        - exchange[:to][1..exchange[:to].count].each do |ex|
          %tr
            %td{:style => "vertical-align: middle", :class => "text-center"}
              - ex.each_slice(6) do |slice|
                %div{:class => "row"}
                  - slice.each do |game|
                    = haml :_game, :locals => { :game => game }
