!!! 
%html   
  %head     
    %title= @converter.title
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "/css/style.css", :rel => "stylesheet"}/    
  %body
    %div{:style => "margin-left:auto;margin-right:auto;width: 960px"} 
      %table{:id => "mytable", :class => "table tablesorter"}
        %thead
          %tr
          - @converter.headers.each do |header|
            %th{:class => "header"}= header
        %tbody
          - @converter.games.each do |game|
            %tr
              %td{:style => "vertical-align: middle", :class => "text-center"}
                %h5
                  %a{:href => "http://www.boardgamegeek.com/geeklist/#{@converter.id}/item/#{game[:number][:itemid]}#item#{game[:number][:itemid]}"}= game[:number][:number]
                   
              %td{:style => "vertical-align: middle"}
                %img{:src => game[:desc][:image], :style => "float:left;width:100px; height:100px;margin:0px 10px 0px 0px", :class => "img-thumbnail"}
                %p
                  %h4
                    %a{:href => game[:desc][:url]}= game[:desc][:title]
                  - game[:desc][:ranks].each do |r_key, r_value|
                    = "#{r_key}: #{r_value}"
                    %br
              %td{:style => "vertical-align: middle", :class => "text-center"}
                %big
                  %a{:href => "http://www.boardgamegeek.com/user/#{game[:poster]}"}
                    = game[:poster][:name]
                    - if game[:poster][:avatar] != nil
                      %br
                      %img{:src => game[:poster][:avatar]}
              %td{:style => "vertical-align: middle", :class => "text-center"}
                %big= game[:average]
              %td{:style => "vertical-align: middle", :class => "text-center"}
                %big= game[:boardgame]                            

  /
  %script{:src => "/js/jquery.js"}
  %script{:src => "/js/bootstrap.js"}
  %script{:src => "/js/jquery.tablesorter.js"}

  %script $(document).ready(function(){$(function(){$("#mytable").tablesorter();});});
